.git
.github/
.vscode/
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tgz
coverage/
reports/

tests/
examples/
docs/
scripts/
**/*.test.js

.eslintrc.*
.prettier*
vitest.config.*
jest.config.*
tsconfig.json

.env
.env.*
!.env.schema.json
!.env.example

node_modules/

Dockerfile
docker-compose.yml

